.default-screen{
    -fx-background-color: #ffffff;
}
.show-all{
    -fx-background-color: linear-gradient(to right, #ffefba, #ffffff);
}
.orders{
    -fx-background-color: linear-gradient(to right, #11998e, #38ef7d);
}
.bills{
    -fx-background-color: linear-gradient(to right, #d3cce3, #e9e4f0);;
}

.insert{
    -fx-background-color: white;
}

.insert-container{
    -fx-background-color: #ffa43c;
}